{
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"jsxBracketSameLine": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"printWidth": 120
}
